*, *::before, *::after {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {  
  margin: 0;

  font-family: $ff-primary;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: $clr-gray; 
  font-weight: $fw-normal;
}
  
h1, h2, h3, p, figure {
  margin: 0;
}

.logo{
  
  font-weight: $fw-for-logo;
  vertical-align: middle;
  letter-spacing: 0.07ch;

  &--header{
    font-size: 1.5rem;
  }
  &--footer{
    font-size: 1.25rem;
  }
}

.nav--footer{
  font-size: 0.9375rem;
  font-weight: $fw-bold;
  color: $clr-black;
  text-align: center;
  text-decoration: none;
}

.menu{
  font-size: 1rem;
  font-weight: $fw-normal;
  text-transform: uppercase;
}

.section--hero{
  color: $clr-black;
  // font-size: clamp(1rem, calc(1rem + (1.5 - 1) * ( (100vw - 200px) / ( 1400 - 1200) )), 1.5rem);
}


.main-title{
  font-size: 2.25rem;
  font-weight: $fw-for-title;
  
  margin-bottom: 0.7em;
}

.hand-title{
  
  font-family: $ff-handwrite;
  font-size: 1.5rem;
  font-weight: $fw-for-title;
  color: $clr-brown;

  margin: 0 0 0 0.67em;

  &--hero{
    text-align: inherit;

    margin-left: 0;
  }

  &--section{
    text-align: center;
  }
}

.title{

  &--section{
    text-align: center;
    color: $clr-dark-gray;
    font-size: 1.75rem;
    font-weight: $fw-bold;
    text-transform: uppercase;

    margin: 0 0 1rem 1.0rem;
  }

  &--paragraph{
    color: $clr-dark-gray;
    font-size: 1.25rem;
    font-weight: $fw-normal;
  }

  &--item-description{
    color: $clr-dark-gray;
    font-weight: $fw-normal;

  }


}


