$clr-black: #141b25;
$clr-white: #ffffff;
$clr-brown: #965D3F;

$clr-extra-light-gray: #ffffcc;
$clr-gray: #999999;
$clr-dark-gray: #343434;
$clr-light-gray: #f3f2ee;
$clr-light-gray-bckgrnd: #f7f7f7;